<?xml version="1.0"?>
<launch>

    <!-- Planning scene required parameters -->
    <param name="robot_description_semantic" command="cat $(find ur5e_camera_gripper_moveit_config)/config/ur5e_cg.srdf"/>
    <group ns="robot_description_planning">
      <rosparam command="load" file="$(find ur5e_camera_gripper_moveit_config)/config/joint_limits.yaml"/>
    </group>
    <group ns="robot_description_kinematics">
      <rosparam command="load" file="$(find ur5e_camera_gripper_moveit_config)/config/kinematics.yaml"/>
    </group>
   
    <!-- 7. Launch Move group -->
    <node name="move_group" pkg="moveit_ros_move_group" type="move_group" respawn="false" output="screen">
      <!-- 7.1. Associate moveit control configuratio to actual control interface-->
      <rosparam file="$(find ur5e_camera_gripper_moveit_config)/config/ros_controllers.yaml" command="load"/>
      <param name="moveit_controller_manager" value="moveit_simple_controller_manager/MoveItSimpleControllerManager" />
      <!-- 7.2. load the planning interface plugin-->
      <param name="default_planning_pipeline" value="ompl"/>
      <!-- 7.3. Load the planning interface pluging parameters-->
      
      <rosparam command="load" file="$(find ur5e_camera_gripper_moveit_config)/config/ompl_planning.yaml"/>
      
      <!-- 7.4. Load the planning pipeline-->

      <param name="planning_scene_monitor/publish_planning_scene" value="true"/>
      <param name="planning_scene_monitor/publish_geometry_updates" value="true"/>
      <param name="planning_scene_monitor/publish_state_updates" value="true"/>
      <param name="planning_scene_monitor/publish_transforms_updates" value="true"/>
    </node>
  <param name="move_group/trajectory_execution/execution_duration_monitoring" value="false" />

</launch>